header {
    width: 100%; 
    height: 82px;

    //article
    article {
        width: 1366px;
        height: 100%;
        padding: 0 53px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        //topList
        .topList {
            width: 950px;
            height: 45px;
            border-radius: 5px;
            background: $header_BG;
            display: flex;
            overflow: hidden;

            li {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover,&:active,&.active {
                    background: $header_Hover;
                }

                p {
                    color: $header_Word;
                    font-size: 15px;
                    font-weight: bold;
                    border-right: solid 1px $header_Border;
                    padding: 0 15px;
                }
            }
        }
    }

    //info
    &.infoHeader {
        min-width: 1000px;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        .logoBox {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 8px;
            margin: 0 auto;
            position: relative;

            img {
                cursor: pointer;
            }
        }

        .style_Picker {
            width: auto;
            height: 42px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: 20px;

            li {
                width: 30px;
                height: 30px;
                border-radius: 50px;
                border: 1px solid transparent;
                overflow: hidden;
                margin: 0 5px 0 0;

                a {
                    width: 100%;
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    text-decoration: none;
                    text-align: center;
                    color: lightcyan;
                    padding: 5px;

                    &.gold_Red {
                        background: linear-gradient(to right, #c59248 0%, #a30220 100%);
                    }

                    &.universe {
                        background: linear-gradient(to right, #ab65bb 0%, #1f2a52 100%);
                    }

                    &.px {
                        background: linear-gradient(to right, #ff00ff 0%, #00ffff 100%);
                    }
                    
                    &.ball {
                        background: linear-gradient(to right, #a37125 0%, #8c0000 100%);
                    }
                }
            }
        }
    }
}