html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        background: $BG;
        @include scrollBar;

        &.info {
            @include scrollBar_2;
        }

        @import "./header";
        @import "./home";
        @import "./info";
    }
}